@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Text Colors */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    /* Background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Deviders */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: linear-gradient(var(--soft-violet) , var(--soft-blue));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 20px;
    width: 900px;
    padding-bottom: 50px;
}
.container .left {
    flex-basis: 45%;
}

.container .right {
    flex-basis: 45%;
    padding-top: 50px;
    padding-right: 60px;
}
.container .right h1 {
    margin-bottom: 30px;
}

.container .right .faq > h2 {
    color: var(--very-dark-grayish-blue);
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid var(--light-grayish-blue);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.container .right .faq .parag {
    display: none;
}

.container .right .faq h2 > span {
    float: right;
}
.container .left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container .left img {
    position: absolute;
}
.container .left .box img {
    position: absolute;
    left: -41px;
    top: 39%;
}
.container .left > img {
    content: url('/images/illustration-woman-online-desktop.svg');
}
.container .left {
    background-image: url('/images/bg-pattern-desktop.svg');
    background-position: center;
    background-size: contain;
}
.container .right .faq.active p {
    font-size: 14px;
    border-bottom: 1px solid var(--light-grayish-blue);
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 1.8;
    color: var(--dark-grayish-blue);
    display: block;
}
.container .right .faq.active h2 {
    border-bottom: 0;
    margin-bottom: 0px;
    font-weight: 700
}
.container .right .faq.active h2 > span > img {
    transform: rotate(180deg);
}

@media (max-width:400px) {
    .container .left {
        background-image: url('images/bg-pattern-mobile.svg');
    }
    .container .left > img {
        content: url('images/illustration-woman-online-mobile.svg');
        margin-bottom: 30px;
    }
    .container .left .box {
        display: none;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body {
        padding-left: 25px;
        padding-right: 25px;
    }
    .container .right {
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
    }
    .container .right h1 {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
    .container .right .faq h2 {
        font-size: 13px;
        margin-right: 8px;
    }
    .container .right .faq h2 
    .container .right .faq.active p {
        font-size: 12px;
        width: 200px;
    }
}